%h1
	Thanks for participating!
%h3
	Have more cute smileys!
- random = rand(1..10)
- case random
	- when 1
		(∞ ❛ั ⊝❛ั )
	- when 2
			(◕‿◕)♡
	- when 3
			(⁄ ⁄•⁄ω⁄•⁄ ⁄)
	- when 4
			ヽ(~_~(・_・ )ゝ
	- when 5
		ヾ( ￣O￣)ツ
	- when 6
		ʕ　·ᴥ·ʔ
	- when 7
		<丶｀∀´>
	- when 8
		(✿╹◡╹)
	- when 9
		(°ヮ°)
	- when 10
		ʕ•ᴥ•ʔ