// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:hover{
  background-color: transparent;
  color: #0087ff;
}

.navbar-right{
  color: #9d9d9d;
}


#items-to-sort{
	display: -moz-groupbox;
	.recommended-item{
		display: flex;
		border: 1px solid #000;
		margin: 10px;
		padding: 3px;
		border-radius: 4px;
		height: 160px;
		overflow-y: hidden;

		.index{
			margin-right:30px;
		}
		.name{
			margin-right:30px;
		}
		.pic{
			margin-right:30px;
		}
	}
}