// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:hover{
  background-color: transparent;
  color: #0087ff;
}

.navbar-right{
  color: #9d9d9d;
}